@model IEnumerable<ArticleApp.Models.ArticleModel>
@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>

@Html.Partial("ArticleList", Model)

@section RightSide
{
    @Html.Partial("Search")
    @{ Html.RenderAction("CategoryList", "Category"); }
}